<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CalcBinding" version="2.5.2" targetFramework="net48" />
  <package id="CommonServiceLocator" version="2.0.7" targetFramework="net48" />
  <package id="DynamicExpresso.Core" version="2.13.0" targetFramework="net48" />
  <package id="LinqToExcel" version="1.11.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.3" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.4.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.VisualBasic" version="4.4.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.25.1" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.25.1" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="6.25.1" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.25.1" targetFramework="net48" />
  <package id="Microsoft.TeamFoundation.DistributedTask.Common.Contracts" version="16.170.0" targetFramework="net48" />
  <package id="Microsoft.TeamFoundationServer.Client" version="16.170.0" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Services.Client" version="16.170.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Prism.Core" version="8.1.97" targetFramework="net48" />
  <package id="Prism.Unity" version="8.1.97" targetFramework="net48" />
  <package id="Prism.Wpf" version="8.1.97" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="7.0.0" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.25.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="7.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="7.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="7.0.1" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Unity.Abstractions" version="5.11.7" targetFramework="net48" />
  <package id="Unity.Container" version="5.11.11" targetFramework="net48" />
</packages>