<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" 
				 type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings,
				 Microsoft.Practices.EnterpriseLibrary.Logging,        
				 Version=6.0.0.0, Culture=neutral,        
				 PublicKeyToken=d702d1a3426498a0" />
		<section name="dataConfiguration" 
				 type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings,
				 Microsoft.Practices.EnterpriseLibrary.Data, 
				 Version=5.0.414.0, Culture=neutral, 
				 PublicKeyToken=31bf3856ad364e35" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" 
				 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, 
				 EntityFramework, 
				 Version=6.0.0.0, Culture=neutral, 
				 PublicKeyToken=b77a5c561934e089" 
				 requirePermission="false" />
	</configSections>
	<connectionStrings>
	</connectionStrings>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog" />
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog" />-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information" />
		</switches>
		<sharedListeners>
			<add name="FileLog" 
				 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, 
				 Microsoft.VisualBasic, 
				 Version=8.0.0.0, Culture=neutral, 
				 PublicKeyToken=b03f5f7f11d50a3a, 
				 processorArchitecture=MSIL" 
				 initializeData="FileLogWriter" />
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME" /> -->
		</sharedListeners>
	</system.diagnostics>
	<loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
		<listeners>
			<add name="FlatFile TraceListener" 
				 type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener,       
				 Microsoft.Practices.EnterpriseLibrary.Logging,       
				 Version=6.0.0.0, Culture=neutral,        
				 PublicKeyToken=d702d1a3426498a0" 
				 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData,       
				 Microsoft.Practices.EnterpriseLibrary.Logging,       
				 Version=6.0.0.0, Culture=neutral,       
				 PublicKeyToken=d702d1a3426498a0" 
				 fileName="C:\temp\logs\VSTO\SupportTools_Excel.log" 
				 header="" footer="" 
				 traceOutputOptions="None" 
				 formatter="FlatFile Formatter" />
			<add name="Rolling FlatFile TraceListener" 
				 type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener,                        
				 Microsoft.Practices.EnterpriseLibrary.Logging, 
				 Version=6.0.0.0, Culture=neutral, 
				 PublicKeyToken=d702d1a3426498a0" 
				 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData,                     
				 Microsoft.Practices.EnterpriseLibrary.Logging, 
				 Version=6.0.0.0, Culture=neutral, 
				 PublicKeyToken=d702d1a3426498a0" 
				 fileName="C:\temp\logs\VSTO\SupportTools_Excel.log" 
				 header="" footer="" 
				 rollInterval="Day" 
				 maxArchivedFiles="7" 
				 formatter="FlatFile Formatter" />
			<add name="Formatted EventLog TraceListener" 
				 type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener,       
				 Microsoft.Practices.EnterpriseLibrary.Logging,       
				 Version=6.0.0.0, Culture=neutral,       
				 PublicKeyToken=d702d1a3426498a0" 
				 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData,       
				 Microsoft.Practices.EnterpriseLibrary.Logging, 
				 Version=6.0.0.0, Culture=neutral, 
				 PublicKeyToken=d702d1a3426498a0" 
				 source="Enterprise Library Logging"
				 log="Application" 
				 machineName="" 
				 traceOutputOptions="None" 
				 formatter="Text Formatter" />
			<add name="SignalRListener" 
				 type="VNC.Logging.TraceListeners.SignalRListener,       
				 VNC.Logging.TraceListeners.SignalRListener,       
				 Version=1.0.0.0, Culture=neutral,        
				 PublicKeyToken=6621de8a79b51ca3" 
				 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData,       
				 Microsoft.Practices.EnterpriseLibrary.Logging,       
				 Version=6.0.0.0, Culture=neutral,       
				 PublicKeyToken=d702d1a3426498a0" 
				 formatter="LiveView Formatter" />
		</listeners>
		<formatters>
			<add name="ErrorLog Formatter" 
				 type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter,       
				 Microsoft.Practices.EnterpriseLibrary.Logging,       
				 Version=6.0.0.0, Culture=neutral,       
				 PublicKeyToken=d702d1a3426498a0" 
				 template="Timestamp: {timestamp(local:yyyy/MM/dd HH:mm:ss.fff)} Message:{keyvalue(Class Name)}.{keyvalue(Method Name)} &gt;  {message} Category: {category} Priority: {priority} Severity: {severity} Process: {processName} - {processId} Thread: {threadName} - {win32ThreadId} User:{keyvalue(User Name)} Title:{title} EventId: {eventid} Machine: {machine} Application Domain: {appDomain} Extended Properties: {dictionary({key} - {value} )}" />
			<add name="FlatFile Formatter" 
				 type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter,       
				 Microsoft.Practices.EnterpriseLibrary.Logging,       
				 Version=6.0.0.0, Culture=neutral,       
				 PublicKeyToken=d702d1a3426498a0" 
				 template="{timestamp(local:yyyy/MM/dd HH:mm:ss.fff)}|{category}|{priority}|{severity}|{processName}|{processId}|{threadName}|{win32ThreadId}|{keyvalue(User Name)}|{keyvalue(Class Name)}.{keyvalue(Method Name)}|{keyvalue(Duration)}|{message}" />
			<add name="Text Formatter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter,       Microsoft.Practices.EnterpriseLibrary.Logging,       
				 Version=6.0.0.0, Culture=neutral,        
				 PublicKeyToken=d702d1a3426498a0" 
				 template="Timestamp: {timestamp(local:yyyy/MM/dd HH:mm:ss.fff)} Message: {message} Category: {category} Priority: {priority} EventId: {eventid} Severity: {severity} Title:{title} Machine: {machine} Application Domain: {appDomain} Process Id: {processId} Process Name: {processName} Win32 Thread Id: {win32ThreadId} Thread Name: {threadName} Extended Properties: {dictionary({key} - {value} )}" />
			<add name="LiveView Formatter" 
				 type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter,       
				 Microsoft.Practices.EnterpriseLibrary.Logging,       
				 Version=6.0.0.0, Culture=neutral,       
				 PublicKeyToken=d702d1a3426498a0" 
				 template="{timestamp(local:yyyy/MM/dd HH:mm:ss.fff)}|{category}|{priority}|{processId}|{threadName}|{win32ThreadId}|{keyvalue(Class Name)}.{keyvalue(Method Name)}|{keyvalue(Duration)}|{message}" />
		</formatters>
		<logFilters>
			<!-- Use this filter to exclude logging that does not include a duration or takes less than maxDuration milli-seconds -->
			<!--<add name="Duration Filter"
            type="VNC.Logging.Filters.DurationFilter,
            VNC.Logging,
            Version=1.0.0.0, Culture=neutral, PublicKeyToken=6621de8a79b51ca3"
            maxDuration="0.250" />-->
			<!-- Use this filter to only include logging at the specified level -->
			<!--<add
                name="Level Filter"
                type="VNC.Logging.Filters.LevelFilter,
                VNC.Logging,
                Version=1.0.0.0, Culture=neutral, PublicKeyToken=6621de8a79b51ca3"
                debug2="true"
                trace="true" trace2="true" trace3="false" trace4="true" trace5="true" />-->
			<!-- Use this filter to include logging where the minimumPriority <= priority <= maximumPriority -->
			<!--<add name="Priority Filter"
                 type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter,
                 Microsoft.Practices.EnterpriseLibrary.Logging,
                 Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 minimumPriority="-10" maximumPriority="10099" />-->
		</logFilters>
		<categorySources>
			<add switchValue="All" name="General">
				<listeners>
					<add name="Rolling FlatFile TraceListener" />
					<add name="SignalRListener" />
				</listeners>
			</add>
			<add switchValue="All" name="SupportTools_Excel">
				<listeners>
					<add name="Rolling FlatFile TraceListener" />
					<add name="SignalRListener" />
				</listeners>
			</add>
			<add switchValue="All" name="AddInHelper">
				<listeners>
					<add name="FlatFile TraceListener" />
					<add name="SignalRListener" />
				</listeners>
			</add>
			<add switchValue="All" name="VNCPresentationDx">
				<listeners>
					<add name="Rolling FlatFile TraceListener" />
					<add name="SignalRListener" />
				</listeners>
			</add>
			<add switchValue="All" name="VNCCore">
				<listeners>
					<add name="Rolling FlatFile TraceListener" />
					<add name="SignalRListener" />
				</listeners>
			</add>
			<add switchValue="All" name="VNCTFS">
				<listeners>
					<add name="Rolling FlatFile TraceListener" />
					<add name="SignalRListener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events" />
			<notProcessed switchValue="All" name="Unprocessed Category">
				<listeners>
					<add name="Formatted EventLog TraceListener" />
				</listeners>
			</notProcessed>
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Formatted EventLog TraceListener" />
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNet.SignalR.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.4.2.0" newVersion="2.4.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.4.2.0" newVersion="2.4.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>				
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<!--<system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="True" bypassonlocal="True" />
    </defaultProxy>
  </system.net>-->
	<system.serviceModel>
		<bindings />
		<client />
		<extensions>
			<!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
			<behaviorExtensions>
				<add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</behaviorExtensions>
			<bindingElementExtensions>
				<add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</bindingElementExtensions>
			<bindingExtensions>
				<add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</bindingExtensions>
		</extensions>
	</system.serviceModel>
	<appSettings>
		<!-- Service Bus specific app setings for messaging connections -->
		<add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[your secret]" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>