<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" 
				 type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings,       
				 Microsoft.Practices.EnterpriseLibrary.Logging,       
				 Version=6.0.0.0, Culture=neutral,       
				 PublicKeyToken=d702d1a3426498a0" />
		<section name="dataConfiguration" 
				 type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings,       
				 Microsoft.Practices.EnterpriseLibrary.Data,       
				 Version=6.0.0.0, Culture=neutral,       
				 PublicKeyToken=31bf3856ad364e35" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" 
				 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection,       
				 EntityFramework,       
				 Version=6.0.0.0, Culture=neutral,       
				 PublicKeyToken=b77a5c561934e089" requirePermission="false" />

		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="SupportTools_Visio.Properties.Settings.SmartDiagrammingConnectionString" connectionString="Data Source=parthenon\;Initial Catalog=SmartDiagramming;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="Explore_DB" 
			 connectionString="Data Source=.\SQL2019;             Initial Catalog=SupportTools_Visio;             Integrated Security=True" 
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<!-- Current Date - Testing Only.  Use this with caution and not in Production ! -->
		<!-- <add key="CurrentDate" value="7/1/2011" /> -->
		<!--<add key="ConnectionString" value="server='TRON'; database=SmartDiagramming;User Id=SmartsAdmin;Password=SmartsAdmin" />-->
		<add key="ConnectionString" value="server='MATRIX'; database=SmartDiagramming;User Id=SmartsAdmin;Password=SmartsAdmin" />
		<add key="ADByPass" value="true" />
		<add key="SMTP Server" value="smtp.xx.xx" />
		<add key="Email To" value="chrhodesvnc@gmail.com" />
		<add key="Email CC" value="chrhodesvnc@gmail.com" />
		<add key="Email From" value="hrhodesvnc@gmail.com" />
		<add key="Email Subject PEReport" value="Information: Processing and Error Report" />
		<add key="AD_Domain" value="VNC.LOCAL" />
		<add key="ADGroup_Administrators" value="EOL_Admins" />
		<add key="ADGroup_BetaUsers" value="EOL_BetaUsers" />
		<add key="ADGroup_Users" value="EOL_Users" />
		<add key="AD_Users_AllowAll" value="true" />
		<!--<add key="DefaultUITheme" value="DXStyle" />
    <add key="DefaultUITheme" value="DeepBlue" />
    <add key="DefaultUITheme" value="LightGray" />
    <add key="DefaultUITheme" value="MetropolisDark" />-->
		<add key="DefaultUITheme" value="MetropolisLight" />
		<!--<add key="DefaultUITheme" value="Office2007Black" />
    <add key="DefaultUITheme" value="Office2007Blue" />
    <add key="DefaultUITheme" value="Office2007Siliver" />
    <add key="DefaultUITheme" value="Office2010Black" />
    <add key="DefaultUITheme" value="Seven" />
    <add key="DefaultUITheme" value="VS2010" />-->
		<add key="DefaultUserMode" value="1" />
		<add key="DefaultViewMode" value="1" />
		<add key="DefaultRowDetailMode" value="Tooltip" />
		<add key="SMTP Server" value="smtp.xx.xx" />
		<add key="Email To" value="chrhodesvnc@gmail.com" />
		<add key="Email CC" value="" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<loggingConfiguration name="SupportTools_Visio" 
						  tracingEnabled="true" 
						  defaultCategory="General" 
						  logWarningsWhenNoCategoriesMatch="true">
		<listeners>
			<add name="FlatFile TraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener,        
				 Microsoft.Practices.EnterpriseLibrary.Logging,        
				 Version=6.0.0.0, Culture=neutral,        
				 PublicKeyToken=d702d1a3426498a0" 
				 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData,        
				 Microsoft.Practices.EnterpriseLibrary.Logging,        
				 Version=6.0.0.0, Culture=neutral,        
				 PublicKeyToken=d702d1a3426498a0" 
				 fileName="C:\temp\logs\VSTO\SupportTools_Visio.log" 
				 header="" footer="" 
				 traceOutputOptions="None" 
				 formatter="FlatFile Formatter" />
			<add name="Rolling FlatFile TraceListener" 
				 type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener,                        
				 Microsoft.Practices.EnterpriseLibrary.Logging,          
				 Version=6.0.0.0, Culture=neutral,          
				 PublicKeyToken=d702d1a3426498a0" 
				 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData,                     
				 Microsoft.Practices.EnterpriseLibrary.Logging,       
				 Version=6.0.0.0, Culture=neutral,       
				 PublicKeyToken=d702d1a3426498a0" 
				 fileName="C:\temp\logs\VSTO\SupportTools_Visio.log" 
				 header="" footer="" 
				 rollInterval="Day" 
				 maxArchivedFiles="7" 
				 formatter="FlatFile Formatter" />
			<add name="Formatted EventLog TraceListener" 
				 type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener,        
				 Microsoft.Practices.EnterpriseLibrary.Logging,        
				 Version=6.0.0.0, Culture=neutral,        
				 PublicKeyToken=d702d1a3426498a0" 
				 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData,        
				 Microsoft.Practices.EnterpriseLibrary.Logging,         Version=6.0.0.0, Culture=neutral,        PublicKeyToken=d702d1a3426498a0" source="Enterprise Library Logging" log="Application" machineName="" traceOutputOptions="None" formatter="Text Formatter" />
			<add name="SignalRListener" 
				 type="VNC.Logging.TraceListeners.SignalRListener,        
				 VNC.Logging.TraceListeners.SignalRListener,        
				 Version=1.0.0.0, Culture=neutral,        
				 PublicKeyToken=6621de8a79b51ca3" 
				 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData,        
				 Microsoft.Practices.EnterpriseLibrary.Logging,        
				 Version=6.0.0.0, Culture=neutral,        
				 PublicKeyToken=d702d1a3426498a0" 
		formatter="LiveView Formatter" />
		</listeners>
		<formatters>
			<add name="ErrorLog Formatter" 
				 type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter,        
				 Microsoft.Practices.EnterpriseLibrary.Logging,        
				 Version=6.0.0.0, Culture=neutral,        
				 PublicKeyToken=d702d1a3426498a0" 
				 template="Timestamp: {timestamp(local:yyyy/MM/dd HH:mm:ss.fff)} Message:{keyvalue(Class Name)}.{keyvalue(Method Name)} &gt;  {message} Category: {category} Priority: {priority} Severity: {severity} Process: {processName} - {processId} Thread: {threadName} - {win32ThreadId} User:{keyvalue(User Name)} Title:{title} EventId: {eventid} Machine: {machine} Application Domain: {appDomain} Extended Properties: {dictionary({key} - {value} )}" />
			<add name="FlatFile Formatter" 
				 type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter,        
				 Microsoft.Practices.EnterpriseLibrary.Logging,        
				 Version=6.0.0.0, Culture=neutral,        
				 PublicKeyToken=d702d1a3426498a0" 
				 template="{timestamp(local:yyyy/MM/dd HH:mm:ss.fff)}|{category}|{priority}|{severity}|{processName}|{processId}|{threadName}|{win32ThreadId}|{keyvalue(User Name)}|{keyvalue(Class Name)}.{keyvalue(Method Name)}|{keyvalue(Duration)}|{message}" />
			<add name="Text Formatter" 
				 type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter,       
				 Microsoft.Practices.EnterpriseLibrary.Logging,        
				 Version=6.0.0.0, Culture=neutral,        
				 PublicKeyToken=d702d1a3426498a0" 
				 template="Timestamp: {timestamp(local:yyyy/MM/dd HH:mm:ss.fff)} Message: {message} Category: {category} Priority: {priority} EventId: {eventid} Severity: {severity} Title:{title} Machine: {machine} Application Domain: {appDomain} Process Id: {processId} Process Name: {processName} Win32 Thread Id: {win32ThreadId} Thread Name: {threadName} Extended Properties: {dictionary({key} - {value} )}" />
			<add name="LiveView Formatter" 
				 type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter,        
				 Microsoft.Practices.EnterpriseLibrary.Logging,        
				 Version=6.0.0.0, Culture=neutral,        
				 PublicKeyToken=d702d1a3426498a0" 
				 template="{timestamp(local:yyyy/MM/dd HH:mm:ss.fff)}|{category}|{priority}|{processId}|{threadName}|{win32ThreadId}|{keyvalue(Class Name)}.{keyvalue(Method Name)}|{keyvalue(Duration)}|{message}" />
		</formatters>
		<logFilters>
			<!-- Use this filter to exclude logging that does not include a duration or takes less than maxDuration milli-seconds -->
			<!--<add
        name="Duration Filter"
        type="EaseCore.Logging.Filters.DurationFilter, EaseCore, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        maxDuration="0.250" />-->
			<!-- Use this filter to only include logging at the specified level -->
			<!--<add
        name="Level Filter"
        type="EaseCore.Logging.Filters.LevelFilter, EaseCore, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        debug="true" debug1="true" debug2="true" debug3="true" debug4="true"
        trace="true" trace1="true" trace2="true" trace3="true" trace4="true"
        trace5="true" trace6="true" trace7="true" trace8="true" trace9="true"
        trace10="false" trace11="false" trace12="false" trace13="false" trace14="false"
        trace15="false" trace16="false" trace17="false" trace18="false" trace19="false"
        trace20="false" trace21="false" trace22="false" trace23="false" trace24="false"
        trace25="false" trace26="false" trace27="false" trace28="false" trace29="false"
        trace30="false" />-->
			<!-- Use this filter to include logging where the minimumPriority <= priority <= maximumPriority -->
			<!--<add name="Priority Filter"
           type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter,
           Microsoft.Practices.EnterpriseLibrary.Logging,
           Version=6.0.0.0,
           Culture=neutral,
           PublicKeyToken=31bf3856ad364e35"
           minimumPriority="-10" maximumPriority="10030" />-->
		</logFilters>
		<categorySources>
			<add switchValue="All" name="General">
				<listeners>
					<add name="Rolling FlatFile TraceListener" />
					<add name="SignalRListener" />
				</listeners>
			</add>
			<add switchValue="All" name="SupportTools_Visio">
				<listeners>
					<add name="Rolling FlatFile TraceListener" />
					<add name="SignalRListener" />
				</listeners>
			</add>
			<add switchValue="All" name="Explore">
				<listeners>
					<add name="Rolling FlatFile TraceListener" />
					<add name="SignalRListener" />
				</listeners>
			</add>
			<add switchValue="All" name="VNCCore">
				<listeners>
					<add name="Rolling FlatFile TraceListener" />
					<add name="SignalRListener" />
				</listeners>
			</add>
			<add switchValue="All" name="VNCPresentationDx">
				<listeners>
					<add name="Rolling FlatFile TraceListener" />
					<add name="SignalRListener" />
				</listeners>
			</add>
			<add switchValue="All" name="VNCPresentation">
				<listeners>
					<add name="Rolling FlatFile TraceListener" />
					<add name="SignalRListener" />
				</listeners>
			</add>
			<add switchValue="All" name="AddInHelper">
				<listeners>
					<add name="Rolling FlatFile TraceListener" />
					<add name="SignalRListener" />
				</listeners>
			</add>
			<add switchValue="All" name="Modules">
				<listeners>
					<add name="Rolling FlatFile TraceListener" />
					<add name="SignalRListener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events" />
			<notProcessed switchValue="All" name="Unprocessed Category">
				<listeners>
					<add name="Formatted EventLog TraceListener" />
				</listeners>
			</notProcessed>
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Formatted EventLog TraceListener" />
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.CodeAnalysis" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.CodeAnalysis.CSharp" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.CodeAnalysis.Workspaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.CodeAnalysis.VisualBasic" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.CodeAnalysis.Workspaces.Desktop" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO.FileSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO.FileSystem.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Xml.XPath.XDocument" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Thread" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Composition.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Composition.AttributedModel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Composition.Hosting" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Composition.TypedParts" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ExcelDataReader" publicKeyToken="93517dbe6a4012fa" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.6.0.0" newVersion="3.6.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.6.0" newVersion="2.0.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.11.7.0" newVersion="5.11.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.11.11.0" newVersion="5.11.11.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.3.1795" newVersion="2.1.3.1795" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="SQLitePCLRaw.batteries_v2" publicKeyToken="8226ea5df37bcae9" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.3.1795" newVersion="2.1.3.1795" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Humanizer" publicKeyToken="979442b78dfc278e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.14.0.0" newVersion="2.14.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.1909" newVersion="8.0.0.1909" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Prism.Wpf" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.1909" newVersion="8.0.0.1909" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.15.0.0" newVersion="6.15.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNet.SignalR.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.4.2.0" newVersion="2.4.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.4.2.0" newVersion="2.4.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.25.1.0" newVersion="6.25.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.25.1.0" newVersion="6.25.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.25.1.0" newVersion="6.25.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.CodeAnalysis.Workspaces.MSBuild" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<userSettings>
		<DXThemeManager>
			<setting name="ApplicationThemeName" serializeAs="String">
				<value>Office2016White</value>
			</setting>
		</DXThemeManager>
	</userSettings>
</configuration>